@page "/"

<h1>SPRT.NET</h1>

<div class="row mb-3">
    <div class="col-6">
        <label for="Framerate">Step 1: Enter framerate of YouTube video</label>
        <input type="number" class="form-control" @bind-value="TimingData.Framerate" @bind-value:event="oninput" />
    </div>
    <div class="col-6">
        <label for="Modifier">Step 2: Enter modifier for final time, if any</label>
        <input type="number" class="form-control" @bind-value="TimingData.Modifier" @bind-value:event="oninput" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Step 3: Stop YouTube video on first frame of run to time.</p>
        <p>Step 4: Right-click on the YouTube video and select "Copy debug info".</p>
        <p>Step 5: Paste the result below.</p>
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" @onclick="async () => PasteFromDiag()">Paste</button>
            </div>
            <input type="text" class="form-control" readonly @bind-value="TimingData.FromDiag" @bind-value:event="oninput" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>Step 6: Stop YouTube video on first frame after end of run to time.</p>
        <p>Step 7: Right-click on the YouTube video and select "Copy debug info".</p>
        <p>Step 8: Paste the result below.</p>
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button" @onclick="async () => PasteToDiag()">Paste</button>
            </div>
            <input type="text" class="form-control" readonly @bind-value="TimingData.ToDiag" @bind-value:event="oninput" />
        </div>
    </div>
</div>

@if (TimingData.TotalTime.HasValue)
{
    <br/>
    <h3>Final time: <strong>@TimingData.FinalTimeDisplay</strong></h3>
    <p>Step 9: Copy the mod note below for run submission.</p>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" @onclick="async () => CopyModNote()">Copy</button>
        </div>
        <input type="textarea" class="form-control" readonly value="@TimingData.ModNote" />
    </div>
}
